<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    
    <div class="box">
        <h3 class="title">Creer un compte</h3>
        <form method="POST" action="/register">
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="firstName" type="text" name="firstName" placeholder="Prenom">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" id="lastName" type="text" name="lastName" placeholder="Nom">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" id="email" type="email" name="email" placeholder="Email" >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" id="password" type="password" name="password" placeholder="mot de pass">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" id="pwd" type="password" name="pwd" placeholder="confirmation de mot pass">
                </div>
            </div>

            <button type="submit" class="button is-block is-info is-large is-fullwidth" id="enre">Enregistrer</button>
            <div>
                <a href="http://127.0.0.1:5000/login" style="color: red;">Annuler</a>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-message" class="notification {% if category == 'error' %} is-danger {% endif %}">
                {{ message }}
            </div>

            <script>
                setTimeout(function() {
                    var flashMessage = document.getElementById('flash-message');
                    if (flashMessage) {
                        flashMessage.style.display = 'none';
                    }
                }, 3000);  // 3000 milliseconds = 3 seconds
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

</div>


    
{% endblock %}